nav {
	background-color: #149ef8;
	height: 80px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	z-index: 20;
}

nav h1 {
	margin: 0;
	padding-left: 20px;
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #fff;
}