.container-card {
	width: 30%;
	display: inline-block;
	margin: 10px;
	border-radius: 30px;
    padding-bottom: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
	background: linear-gradient(to bottom, rgba(1,72,239,1) 0%, rgba(58,171,242,1) 61%, rgba(58,171,242,1) 100%);
}

.container-card:hover {
	box-shadow: none;
	background: linear-gradient(to bottom, rgba(58,171,242,1) 0%, rgba(58,171,242,1) 29%, rgba(1,72,239,1) 100%);
}

h1 {
	text-align: center;
	color: #FFF;
}

p {
	padding-left: 20px;
	color: #FFF;
}

label {
    display: block;
    color: #FFF;
    border-bottom: 1px solid white;
    margin: 0 20px;
    text-align: center;
    font-weight: 600;
}

a {
	text-align: center;
	display: block;
	font-weight: 600;
	color: #ccff00;
	text-decoration: none;
	text-transform: uppercase;
}

@media screen and (max-width: 520px) {
	.container-card {
		width: 100%;
}
}