<div class="container-card">
	<h1>{{comercio.properties.name}}</h1>
	<p><b>Dirección - </b>{{comercio.properties.address}}</p>
	<label>Horario</label>
	<p>{{comercio.properties.days}}</p>
	<p>{{comercio.properties.schedule}}</p>
	<a [routerLink]="['comercio-detail',comercio.properties.id]">- Más Información -</a>
</div>
