.panel {
	background-color: #FFF;
	display: flex;
	position: relative;
	border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    padding: 10px 20px;
    box-shadow: 1px 4px 8px rgba(0,0,0,.3);
    width: 100%;
}

.w-50 {
	width: 50%;
}

h1 {
	text-align: center;
}

h3 {
	text-decoration: underline;
}

@media screen and (max-width: 500px ) {
	.panel {
		flex-direction: column;
	}

	.w-50 {
		width: 100%;
	}
}