<div class="container mt-2 d-flex align-items-center">
	<div class="panel">
		<div class="w-50">
			<div class="panel-header">
				<h1>{{comercio.properties.name}}</h1>
			</div>
			<div class="panel-section">
				<h3>Informacíon del comercio</h3>
				<p><b>Propietario - </b>{{comercio.properties.owner}}</p>
				<p><b>NIT - </b>{{comercio.properties.nit}}</p>
				<p><b>Direccíon - </b>{{comercio.properties.address}}</p>
				<p><b>Teléfono - </b>{{comercio.properties.phone}}</p>
				<p><b>Horario - </b>{{comercio.properties.days}}</p>
				<p><b>Horario - </b>{{comercio.properties.schedule}}</p>
				<p><b>Ventas - </b>{{comercio.properties.sales}}</p>
			</div>
		</div>
		<div class="w-50">
			<app-map [coordinates]="comercio.geometry.coordinates"></app-map>
		</div>
	</div>
</div>
