body {
	font-family: sans-serif;
	font-size: 16px;
	padding-top: 80px;
}

.container {
	width: 80%;
	height: 100%;
	display: block;
	margin: auto;
	position: relative;
}

.mt-2 {
	margin-top: 20px;
}

.d-flex {
	display: flex;
} 

.align-items-center {
	align-items: center;
}